<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/shop.css">
  <title>เช่าหนังสือ</title>
</head>

<body>
  <%- include('./partials/nav.ejs') %>
    <p class="cartp">ประวัติเช่าหนังสือ</p>

    <div class="headbook">

      <% rentData.forEach(item=> { %>
        <% let status; %>
        <% if (item.statusPayment===0 && item.statusRent===0) { %>
            <% status="กำลังตรวจสอบการชำระเงิน" ; %>
        <% } else if (item.statusPayment===1 && item.statusRent===0) { %>
            <% status="อยู่ในระหว่างการเช่า" ; %>
        <% } else { %>
            <% status="คืนหนังสือแล้ว" ; %>
        <% } %>

        <strong>รายชื่อหนังสือที่เช่า:</strong>
        <% item.cart.forEach((books, index) => { %>
          <%= books.book %><%= index !== item.cart.length - 1 ? ',' : '' %>
        <% }); %> <br> 
        <strong>วันครบกำหนด:</strong>
        <%= item.rentalStartTime.toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' }) %><br>
        <strong>สถานะ:</strong>
        <%= status %><br><hr>

    <% }); %>
  </div>

      <%- include('./partials/footer.ejs') %>
</body>

</html>
